/* pages/form/form.wxss */
$s: 1.5rem;
.input {
  box-shadow: var(--shadow-input);
}
/* 单选按钮样式*/
radio {
  border: none !important;
  width: $s;
  height: $s;
}
radio .wx-radio-input {
  position: relative;
  border: none !important;
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
  width: $s;
  height: $s;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  transition: 0.6s;
}
radio .wx-radio-input::before {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 14%;
  left: 24%;
  background: rgba(255, 255, 255);
  opacity: 0.9;
  border-radius: 50%;
  content: "";
  transition: 0.6s;
}
radio .wx-radio-input::after {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 40%;
  left: 110%;
  border-radius: 40% 60% 59% 41% / 53% 66% 34% 47%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  content: "";
  transition: 0.6s;
}
radio .wx-radio-input.wx-radio-input-checked {
  box-shadow: none;
  background-color: transparent !important;
}
radio .wx-radio-input.wx-radio-input-checked::before {
  content: "";
  width: 80%;
  height: 80%;
  background-color: var(--theme);
}
radio .wx-radio-input.wx-radio-input-checked::after {
  content: "";
  top: -10%;
  left: -10%;
  width: 200%;
  height: 120%;
  border-radius: 79% 21% 79% 21% / 15% 87% 13% 85%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
}
// 其他部分
.sex > .flex_center {
  justify-content: space-between;
}
