.head .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .subhead {
    font-size: 1.1rem;
  }
  .bloder {
    font-size: 0.8rem;
  }
}
.group .content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  .row {
    flex: 1;
    display: flex;
    margin: 0.2rem;
    .subhead {
      margin-right: 0.4rem;
    }
  }
}
.limit {
  .text {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .inner {
      border-radius: calc(var(--border-radius) / 2);
      box-shadow: var(--shadow-hover);
      background-color: var(--theme-mid);
      color: #fff;
      text-shadow: none;
      font-size: 0.8rem;
      margin: 0.2rem 0.2rem;
      padding: 0.1rem 0.3rem;
    }
  }
}
.btn_group {
  .btn {
    border-radius: calc(var(--border-radius) / 2);
    font-family: sans-serif;
    padding: 0;
    max-width: 5rem;
    color: var(--theme);
    background-color: var(--color-bg);
  }
}
.last {
  justify-content: center;
  align-items: center;
  .text {
    font-size: 1.4rem;
  }
}
