/* pages/form/form.wxss */
@import "../../media.scss";
// 水滴尺寸
$s: 1.5rem;
// 输入宽高度
$h: 2rem;
.container {
  padding-top: 1.5rem;
  line-height: $h;
  font-size: 1rem;
  flex-flow: row wrap;
}
.form {
  position: relative;
  flex-direction: column;
}
.fieldset {
  position: absolute;
  font-size: 1.8rem;
  padding: 0.2rem;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg);
  box-shadow: -0.1rem -0.9rem 1rem var(--color-white);
  border-radius: calc(var(--border-radius) / 2);
}
.flex_item {
  display: flex;
}
.input {
  border-radius: calc(var(--border-radius) / 2);
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.content {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.name {
  flex-direction: column;
  .subhead {
    font-size: 1.2rem;
  }
  .text {
    font-size: 0.8rem;
    line-height: 0.9rem;
    text-indent: 1.6rem;
  }
}
.limit {
  flex-direction: column;
  .wrap {
    display: flex;
  }
}
.info {
  flex-direction: column;
}
.btnGroup {
  flex: 1 0 100%;
  flex-flow: row wrap;
  .btn {
    flex: 1 0 10rem;
    margin: 0.5rem;
    border-radius: calc(var(--border-radius) * 2);
    font-family: sans-serif;
    font-weight: 600;
    color: #ae1100;
    background-color: var(--color-bg);
  }
}

@include sm {
  .flex_item {
    flex: 1 1 50%;
  }
  .info {
    flex: 1 1 100%;
  }
}
@include md {
  .flex_item {
    flex: 1 1 30%;
  }
  .info {
    flex: 1 1 100%;
  }
}

/* 水滴效果*/
radio {
  border: none !important;
  width: $s;
  height: $s;
}
radio .wx-radio-input {
  position: relative;
  border: none !important;
  border-radius: 40%;
  width: $s;
  height: $s;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  transition: 0.6s;
}
radio .wx-radio-input::before {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 20%;
  left: 25%;
  background: rgba(255, 255, 255);
  opacity: 0.9;
  border-radius: 50%;
  content: "";
  transition: 0.6s;
}
radio .wx-radio-input::after {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 30%;
  left: 35%;
  border-radius: 40% 60% 59% 41% / 53% 66% 34% 47%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  content: "";
  transition: 0.6s;
}
radio .wx-radio-input.wx-radio-input-checked {
  box-shadow: none;
  background-color: transparent !important;
}
radio .wx-radio-input.wx-radio-input-checked::before {
  content: "";
  width: 80%;
  height: 80%;
  background-color: var(--theme);
}
radio .wx-radio-input.wx-radio-input-checked::after {
  content: "";
  top: -10%;
  left: -10%;
  width: 280%;
  height: 120%;
  border-radius: 40%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
}
checkbox {
  border: none !important;
  width: $s;
  height: $s;
}
checkbox .wx-checkbox-input {
  position: relative;
  border: none !important;
  border-radius: 40%;
  width: $s;
  height: $s;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  transition: 0.6s;
}
checkbox .wx-checkbox-input::before {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 20%;
  left: 25%;
  background: rgba(255, 255, 255);
  opacity: 0.9;
  border-radius: 50%;
  content: "";
  transition: 0.6s;
}
checkbox .wx-checkbox-input::after {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 30%;
  left: 35%;
  border-radius: 40% 60% 59% 41% / 53% 66% 34% 47%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
  content: "";
  transition: 0.6s;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  box-shadow: none;
  background-color: transparent !important;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  content: "";
  width: 80%;
  height: 80%;
  background-color: var(--theme);
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked::after {
  content: "";
  top: -10%;
  left: -10%;
  width: 280%;
  height: 120%;
  border-radius: 40%;
  background: transparent;
  box-shadow: inset $s/17 $s/17 $s/17 rgba(0, 0, 0, 0.05),
    $s/14 $s/10 $s/17 rgba(0, 0, 0, 0.05), $s/14 $s/11 $s/11 rgba(0, 0, 0, 0.05),
    inset $s/-17 $s/-17 $s/17 rgba(255, 255, 255, 0.9);
}
